  <h1>Riepilogo della segnalazione inviata</h1>
  <div>
    <p class="display-6">E' stata inviata la seguente segnalazione presso gli uffici di competenza di ANAC.</p>
  </div>
  <div>
    <h3 class="display-6">Il numero Protocollo assegnato è: 123-123-123-123</h3>
  </div>
  <div id="content">
    <formio id="formio-full" src="http://nodejs-mongodb-formio-segnalazioni-ril.apps.ocp.premaster.local/segnalazione-dev/submission/{{submission}}" [renderOptions]='options' [refresh]="refreshForm" [form]='form'></formio>
    <!-- formio id="formio-full" src="http://localhost:3001/segnalazione-dev/submission/{{submission}}" [renderOptions]='options' [refresh]="refreshForm" [form]='form'></formio -->
  </div>
  <!--div> 
    <button type="button" (click)="downloadAsPDF()" class="btn btn-primary btn-lg">Scarica Documento in PDF</button>
  </div-->


