 <div *ngIf="prot()!==''; else other_content" class="container py-3">
      <div class="jumbotron">
        <div class="container">
          <h2 class="display-4">La segnalazione è stata inviata con successo.</h2>
          <h3>A breve riceverà alla mail indicata per il contatto, una copia pdf della sottomissione.</h3>
          <h3>Protocollo: {{prot()}}</h3>
        </div>
      </div>

      <div id="content">
        <formio id="formio-full"></formio>
      </div>

      <div> 
        <button type="button" (click)="downloadAsPDF()" class="btn btn-primary btn-lg">Scarica Documento in PDF</button>
      </div>
</div>

<ng-template #other_content>
  <div class="container py-3">
    <div class="jumbotron">
      <div class="container">
        <h2 class="display-4">La segnalazione è stata inviata con successo.</h2>
        <h3>ID della sottomissione: {{submission}}</h3>
        <p>In attesa di assegnazione del protocollo...</p>
      </div>
    </div>
  </div>
</ng-template>