 <div>
    <formio src="http://nodejs-mongodb-formio-segnalazioni-ril.apps.ocp.premaster.local/segnalazione-dev"
      [renderOptions]="renderOptions"
      [options]="options"
      (submit)="onSubmit($event)"
      (change)="onChange($event)"
      (customEvent)="customEvent($event)"
      [form]="form"
      [refresh]="refreshForm"></formio>

      <!--formio src="http://localhost:3001/segnalazione-dev"
      [renderOptions]="renderOptions"
      [options]="options"
      (submit)="onSubmit($event)"
      (change)="onChange($event)"
      (customEvent)="customEvent($event)"
      [form]="form"
      [refresh]="refreshForm"></formio-->
 </div>
