<div class="py-3">
    <div *ngIf="healthStatus.status==='KO'" class="alert alert-danger" role="alert">
      Servizi per l'autocompletamento non disponibili: {{healthStatus.message}}</div>
</div>

<div appRemoveAfter="4000" *ngIf="saving==='OK'" class="alert alert-info">
    Recupero dei dati dal salvataggio del giorno {{data_salvataggio}}
</div>

 <div>
    <formio [src]="src"
      [renderOptions]="renderOptions"
      [options]="options"
      (submit)="onSubmit($event)"
      (change)="onChange($event)"
      (invalid)="onSubmit($event)"
      (customEvent)="customEvent($event)"
      [form]="myform"
      [refresh]="refreshForm"
      (formLoad)="formLoad($event)"
      (nextPage)="onTop()" (prevPage)="onTop()"></formio>
 </div>
